.secondDiv {
    height: 100vh;
    width: 100vw;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: space-around;
    padding: 3vw;
}

.carousel {
  position: relative;
}

.postRead {
  position: absolute;
  cursor: pointer;
  left: 0;
  color: white;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0) !important;
  opacity: 50%;
  transition: 0.5s;
  border-radius: 10px;
  
}
.postRead:hover {
  opacity: 100%;
  color: white;
}


  
  .bgImageSecondDiv {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url('/second_image.svg');
    filter: brightness(50%);
    background-position: center;
    background-size: cover;
    z-index: -1;
    /* background-attachment: fixed; */
  }
  
  .acheivementsHeader {
    color: white;
    text-align: center;
  }
  
  .postRead {
    padding: 10px;
    color: black;
    background-color: white;
  }
  
  .acheivementsGallery {
    /* background:  transparent; */
    /* border: 2px firebrick solid; */
    width: 90vw;
    /* height: 30vh; */
  }
  
  .postRead span {
    margin-right: 10px;
  }
  
  
   /* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 600px) {
    .acheivements { 
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .acheivementsHeader {
      font-size: 30px;
  
    }

    .postRead {
      opacity: 100%;
      color: white;
    }
    
  
    
    
  }
  
   /* Small devices (portrait tablets and large phones, 600px and up) */
   @media only screen and (min-width: 600px) {
    .acheivements {
      width: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .acheivementsHeader {
      font-size: 32px;
    }
  
    .acheivementsGallery {
      margin-top: 20px;
      width: 50vw;
      height: fit-content
    }

    .postRead {
      opacity: 100%;
      color: white;
    }
   }
   
   /* Medium devices (landscape tablets, 768px and up) */
   @media only screen and (min-width: 768px) {
    .acheivements {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .acheivementsHeader {
      font-size: 35px;
      
    }
  
    .acheivementsGallery { 
      /* width: 600px;
      margin-right: 60px; */
      width: 50vw;
      height: fit-content
    }
   }
   
   /* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 992px) {
    .acheivements {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .acheivementsGallery { 
      width: 800px;
      margin-right: 60px;
  
    }
    .acheivementsHeader {
      font-size: 30px;
    }

    .postRead {
      opacity: 50%;
      color: black;
      background-color: white;
    }
    
   }
   
   /* Extra large devices (large laptops and desktops, 1200px and up) */
   @media only screen and (min-width: 1200px) {
    .acheivements {
      width: 100%;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .acheivementsGallery { 
      margin-left: 50px;
  
    }
    .acheivementsHeader {
      font-size: 40px;
    }
  
   } 